body {
    background-color: rgb(79, 105, 152); /* cor do fundo */
    color: rgb(186, 218, 252); /* cor da escrita */
}

header {
    border: solid 2px rgb(49, 83, 148);
    font-size: 32px;
    padding: 10px;
    color: rgb(49, 83, 148);
}

h1 {
    font-size: 30px; /* tamnho fonte */
    text-align: center; /* centralizado */
    text-transform: uppercase; /* letras maiúscula */
}

p{
    front-size: 16px;
    color: rgb(186, 218, 252);
}